In [11]:
%run moment_calculation.py
import pandas as pd
import glob, os
import pandas_datareader
import matplotlib.pyplot as plt
import pickle

ERROR:root:File `'moment_calculation.py'` not found.

In this notebook, we explore the impact of widespread Robinhood trading on the macroscopic level. We focus on daily data, and study whether trading activity on Robinhood has some impact on market features. We focus especially on the  implications of Robinhood trading in terms of financial risk management.

# Exploration on the stock level

## Get all the Robinhood stock trading data available

### Getting the names of the stocks that are available on Robinhood's database

In [12]:
path = "popularity_export/" # put all the Robinhood data files in this directory
# move to the directory where the fils are if you are not there yet
if os.getcwd()[-15:] != path[-16:-1]: 
    os.chdir(path)
files = []
for file in glob.glob("*.csv"):
    files.append(file)

In [13]:
print("We have for a total of {} different stocks.".format(len(files)))

We have for a total of 8597 different stocks.

### Making a dataset with end of day Robinhood user data for these stocks

For the study of macroscopic effect, we will focus on end of day number of users who own any particular stock.

In [17]:
data = pd.read_csv(files[0])
data['timestamp'] = pd.to_datetime(data['timestamp']).dt.date
data = data.drop_duplicates(['timestamp'], keep='last') # keep EoD data to study macroscopic effects
data.columns = ['timestamp', files[0][:-4]]
data.set_index(['timestamp'], inplace=True)
for file in files[1:]:
    this_stock = pd.read_csv(file)
    this_stock['timestamp'] = pd.to_datetime(this_stock['timestamp']).dt.date
    this_stock = this_stock.drop_duplicates(['timestamp'], keep='last') # keep EoD data to study macroscopic effects
    this_stock.columns = ['timestamp', file]
    this_stock.set_index(['timestamp'], inplace=True)
    data = data.join(this_stock, how='outer')

In [18]:
data

,RIV,ANTE.csv,CSCO.csv,PRI.csv,SLIM.csv,BIOS.csv,NZF.csv,CSUAY.csv,HLNE.csv,MQBKY.csv,...,NVCN.csv,OBCI.csv,ROKU.csv,ARDC.csv,ARGX.csv,CABGY.csv,MTDR.csv,BWEN.csv,TIVO.csv,KEM.csv
timestamp,,,,,,,,,,,,,,,,,,,,,
2018-05-02,65,NaN,23646,222,69.0,NaN,86,NaN,126,NaN,...,NaN,104,12965,2,NaN,NaN,85,456,NaN,2593.0
2018-05-03,64,NaN,23718,230,70.0,NaN,89,NaN,131,NaN,...,NaN,103,13188,2,NaN,NaN,89,457,NaN,2658.0
2018-05-04,64,NaN,23553,230,70.0,NaN,88,NaN,137,NaN,...,NaN,104,13165,4,NaN,NaN,90,458,NaN,2620.0
2018-05-05,64,NaN,23552,230,70.0,NaN,88,NaN,137,NaN,...,NaN,104,13165,4,NaN,NaN,90,458,NaN,2620.0
2018-05-06,64,NaN,23552,230,70.0,NaN,88,NaN,137,NaN,...,NaN,104,13165,4,NaN,NaN,90,458,NaN,2620.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-09,389,949.0,60672,1116,NaN,NaN,250,299.0,118,66.0,...,1765.0,836,51153,166,429.0,339.0,11981,1034,0.0,NaN
2020-08-10,391,944.0,61070,1127,NaN,NaN,249,307.0,119,69.0,...,1841.0,836,51425,166,424.0,338.0,11855,1018,0.0,NaN
2020-08-11,387,931.0,61311,1133,NaN,NaN,248,303.0,118,69.0,...,1813.0,835,51026,163,425.0,336.0,11739,1015,0.0,NaN
2020-08-12,395,931.0,62689,1133,NaN,NaN,247,301.0,118,69.0,...,1886.0,828,51498,162,426.0,336.0,11701,1005,0.0,NaN
2020-08-13,395,930.0,67782,1131,NaN,NaN,247,304.0,116,68.0,...,1860.0,833,51301,163,428.0,345.0,11669,1006,0.0,NaN

In [20]:
os.chdir(owd) # go back to root directory
!ls

NameError: name 'owd' is not defined

In [21]:
if not os.path.exists('aggregated_daily_data'):
    os.mkdir('aggregated_daily_data')
data.to_csv('aggregated_daily_data/aggregated_daily_robinhood_holdings.csv')

### Overview of stock that are most traded on Robinhood

## Get price data corresponding to the stocks held by Robinhood users

## Get the corresponding stock prices